

mixin add-text-section(title, text, button_text, button_link, button_theme, style, orientation, theme)
    
    if orientation == 'center'
        if theme == 'white'

            div.block-text-section.--style-center.--theme-white

                case style
                    when 'large'
                        h2.__title.--size-large= title
                        p.__text.--size-large= text

                    default
                        h2.__title= title
                        div.__separator
                        p.__text= text

                if button_text

                    case button_theme
                        when 'blue'
                            a(href=button_link).block-button.--theme-blue
                                p.__text= button_text

                        default                  
                            a(href=button_link).block-button.--theme-white
                                p.__text= button_text

        else 

            div.block-text-section.--style-center

                case style
                    when 'large'
                        h2.__title.--size-large= title
                        p.__text.--size-large= text

                    default
                        h2.__title= title
                        div.__separator
                        p.__text= text

                if button_text

                    case button_theme
                        when 'blue'
                            a(href=button_link).block-button.--theme-blue
                                p.__text= button_text

                        default                  
                            a(href=button_link).block-button.--theme-white
                                p.__text= button_text
    else

        div.block-text-section

            case style
                when 'large'
                    h2.__title.--size-large= title
                    p.__text.--size-large= text

                default
                    h2.__title= title
                    div.__separator
                    p.__text= text

            if button_text

                case button_theme
                    when 'blue'
                        a(href=button_link).block-button.--theme-blue
                            p.__text= button_text

                    default                   
                        a(href=button_link).block-button.--theme-white
                            p.__text= button_text