

mixin add-text-section(title='Sample title', text='Sample text', button_text, button_theme, image_path)

    div.block-text-section
        h1.__title= title

        p.__text= text

        if button_text
            if button_theme == 'blue'
                button(type='button').block-button.-theme-blue
                    p.__text= button_text

            else
                button(type='button').block-button
                    p.__text= button_text

        if image_path
            img(src=image_path)