

mixin add-text-section(title='Sample title', text='Sample text', button_text, button_link, button_theme)

    div.block-text-section
        h1.__title= title

        p.__text= text

        if button_text
            if button_theme == 'blue'
                a(href=button_link).block-button.-theme-blue
                    p.__text= button_text

            else
                a(href='').block-button
                    p.__text= button_text